@import "../../../mixins";

.logan-tiptap {
  .toolbar {
    .ant-select,
    .ant-select-open {
      @apply h-6  #{!important};
      .ant-select-selector {
        @apply border-[#d9d9d9] hover:border-[#d9d9d9] #{!important};
      }
      .ant-select-arrow {
        @apply right-1;
      }
    }
    .tip-fnt-family {
      .ant-select {
        @apply w-16 #{!important};
      }
    }
    .tip-fnt-family {
      .ant-select {
        @apply w-16 #{!important};
      }
    }
  }
  .tiptap {
    @include logan-doc;

    @apply flex-1 break-words break-all text-[1rem] #{!important};

    ul {
      @apply list-disc pl-4;
    }
    ol {
      @apply list-decimal pl-4;
    }
    // li::marker {
    //   content: "a";
    // }
    .doc-variable {
      @apply rounded-md bg-[#FFF5FD] px-[0.4em] py-[0.1em] text-[#FF26C2];
    }
    .doc-article {
      h2 {
        span {
          @apply text-primary-gray;
        }
      }
      ul {
        ul {
          margin-left: 2rem;
        }
        padding-left: 0 !important;
        list-style-type: none !important;
        li {
          // padding-left: 2rem;
          /* Center align items vertically */
          position: relative;
          p {
            margin-top: 0;
          }
        }
        li::before {
          float: inline-start; /* Use flexbox to align items */
          margin-right: 0.5rem;
          left: 0;
          top: 0;
          min-width: 1rem;
          text-align: left;
          content: attr(data-index);
          color: #a3a7af !important;
        }
      }
    }
    .doc-article-tag {
      @apply rounded-md bg-secondary-blue px-[0.4em] py-[0.1em] text-primary-blue;
    }
    .doc-appendix-tag {
      @apply text-appendix-1 rounded-md bg-appendix px-[0.4em] py-[0.1em];
    }
    .is-selected {
      @apply bg-[#fae4f5];
    }
    .appendix-separator {
      @apply text-appendix-1  left-0 right-0 my-6 flex items-center justify-center overflow-visible bg-six py-4 #{!important};
      .sep-heading {
        @apply text-black;
      }
    }

    .annex-tag-para {
      @apply text-center;
    }
    h1.annex-heading {
      @apply pt-0 text-center #{!important};
    }

    .annex-tag {
      @apply text-appendix-1 rounded-md bg-appendix px-[0.4em] py-[0.1em];
    }
    .sep-heading {
      @apply text-xl font-semibold;
    }
  }

  .auto-save {
    background-color: #fff7db80 !important;
    border: 0.125rem solid #ffc700 !important;
  }
  .save {
    background-color: #d9fadb33 !important;
    border: 0.125rem solid #10c900 !important;
  }
  .tiptap.ProseMirror-focused {
    @apply focus-visible:outline-none  #{!important};
  }
}
