@import "../../../mixins";

.logan-tiptap {
  .toolbar {
    .ant-select,
    .ant-select-open {
      @apply h-6  #{!important};
      .ant-select-selector {
        @apply border-[#d9d9d9] hover:border-[#d9d9d9] #{!important};
      }
      .ant-select-arrow {
        @apply right-1;
      }
    }
    .tip-fnt-family {
      .ant-select {
        @apply w-16 #{!important};
      }
    }
    .tip-fnt-family {
      .ant-select {
        @apply w-16 #{!important};
      }
    }
  }
  .tiptap {
    @include logan-doc;

    @apply flex-1 break-words break-all text-[1rem] #{!important};

    ul {
      @apply list-disc pl-4;
    }
    ol {
      @apply list-decimal pl-4;
    }
    // li::marker {
    //   content: "a";
    // }
    .doc-variable {
      @apply rounded-md bg-[#FFF5FD] px-[0.4em] py-[0.1em] text-[#FF26C2];
    }
    .doc-article {
      h2 {
        span {
          @apply text-primary-gray;
        }
      }
      ul {
        padding-left: 0 !important;
        list-style-type: none !important;
        li {
          // float: inline-start; /* Use flexbox to align items */
          /* Center align items vertically */
          position: relative;
          p {
            margin-top: 0;
            margin-left: 2rem;
          }
        }
        li::before {
          position: absolute;
          top: 0;
          width: 1.5rem;
          content: attr(data-index);
          text-align: end;
          color: #a3a7af !important;
        }
      }
    }
    .doc-article-tag {
      @apply rounded-md bg-secondary-blue px-[0.4em] py-[0.1em] text-primary-blue;
    }
    .is-selected {
      @apply bg-[#eca0dd];
    }
  }

  .auto-save {
    background-color: #fff7db80 !important;
    border: 0.125rem solid #ffc700 !important;
  }
  .save {
    background-color: #d9fadb33 !important;
    border: 0.125rem solid #10c900 !important;
  }
  .tiptap.ProseMirror-focused {
    @apply focus-visible:outline-none  #{!important};
  }
}
