@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

// @layer base {
//   * {
//     @apply border-border;
//   }
// }

html {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.11vw !important;
}

// /* Adjust base font size for larger screens (1441px to 1920px) */
// @media screen and (min-width: 1441px) {
//   html {
//     font-size: 18px !important; /* Adjust as needed for larger screens */
//   }
// }

// /* Adjust font size for even larger screens (1921px to 2560px) */
// @media screen and (min-width: 1921px) {
//   html {
//     font-size: 21.3328px !important; /* Further adjustment for larger screens */
//   }
// }

// /* Adjust font size for extremely large screens (2561px to 3456px) */
// @media screen and (min-width: 2561px) {
//   html {
//     font-size: 38.4px !important; /* Tailored font size for extremely large screens */
//   }
// }
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  // overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #a3a7af;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  outline: none;
}

.image-container {
  width: 100%; /* Set a default width for the container */
  max-width: 100%; /* Ensure the image doesn't exceed its container's width */
}

@media screen and (min-width: 1920px) {
  .image-container img {
    width: 120%; /* Increase the image size for screens wider than 1920px */
  }
}
