@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@mixin logan-doc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  li,
  p,
  pre,
  blockquote,
  figure,
  hr {
    color: #383d44 !important;
    font-family: "Inter";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 0.5rem !important;
    margin: 0.5rem 0 0.3rem; /* Adjusted margins */
    font-weight: bold;
  }

  h1 {
    font-size: 1.5rem; /* Reduced size */
    margin-bottom: 0.5rem;
    font-weight: 800 !important;
  }
  h2 {
    font-size: 1rem; /* Reduced size */
  }
  h3 {
    font-size: 0.9rem; /* Reduced size */
  }
  h4 {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 0.7rem;
  }
  h6 {
    font-size: 0.6rem;
  }

  /* Paragraph */

  p {
    margin: 0.4rem 0; /* Reduced margin */
    font-size: 10pt; /* Reduced size */
  }

  /* Lists */
  ul,
  ol {
    margin: 0.3rem 0;
    padding-left: 1.5rem; /* Reduced padding */
  }

  li {
    margin: 0.4rem 0; /* Reduced margin */
    font-size: 10pt; /* Reduced size */
  }

  hr {
    @apply my-4;
  }
  /* Links */
  a {
    color: #007bff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  /* Images */
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0.8rem 0; /* Reduced margin */
  }

  /* Blockquote */
  blockquote {
    margin: 0.8rem 0;
    padding: 0.5rem 1rem;
    background: #f9f9f9;
    border-left: 0.25rem solid #ccc;
    font-size: 10pt; /* Reduced size */
  }

  /* Code */
  code {
    background: #f1f1f1;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem; /* Reduced size */
    border-radius: 0.25rem;
  }

  pre {
    background: #f1f1f1;
    padding: 1rem;
    font-size: 0.75rem; /* Reduced size */
    border-radius: 0.25rem;
    overflow-x: auto;
  }

  // /* Tables */
  // table {
  //   width: 100%;
  //   border-collapse: collapse;
  //   margin: 0.8rem 0; /* Reduced margin */
  // }

  // th,
  // td {
  //   padding: 0.5rem;
  //   border: 1px solid #ccc;
  //   text-align: left;
  //   font-size: 10pt; /* Reduced size */
  // }

  // th {
  //   background: #f2f2f2;
  // }

  /* Headers and footers */
  header,
  footer {
    padding: 1rem;
    background: #f1f1f1;
    font-size: 0.75rem; /* Reduced size */
    text-align: center;
  }

  header {
    border-bottom: 1px solid #ccc;
  }

  footer {
    border-top: 1px solid #ccc;
  }
}
