.btn {
  box-shadow: none !important;
  animation: none !important;
  transition: none !important;
  @apply flex items-center gap-2 rounded-lg 
      px-4 py-5 text-xs font-semibold outline-none;
  &:hover {
    color: inherit !important;
  }
  &--normal {
    @apply border-none  bg-six text-primary-gray hover:text-primary-gray;
    &:hover {
      color: #a3a7af !important;
    }
  }
  &--white {
    @apply border-[1px] border-secondary-blue bg-white text-black-txt hover:text-black-txt #{!important};
  }
  &--primary {
    @apply border-[1px]  border-primary-blue bg-blue-gradient text-white hover:bg-blue-gradient  hover:text-white #{!important};
  }
  &--primary-trans {
    @apply border-[1px]  border-primary-blue text-primary-blue;

    &:hover {
      color: #0e61de !important;
    }
  }
  &--secondary {
    @apply border-none bg-secondary-blue text-primary-blue hover:text-primary-blue #{!important};
  }
  &--warn {
    background-image: none !important;
    @apply border-none bg-warn text-white hover:bg-warn hover:text-white #{!important};
  }
  &--purple {
    @apply border-none bg-purple-gradient text-white;
    &:hover {
      color: white !important;
    }
  }
  &--normal-outlined {
    @apply border-[1px] border-secondary-blue bg-blanc text-primary-gray hover:text-primary-gray #{!important};
  }
}
